<section>
<div class="border-img">
  <h3 >Contact us</h3>
</div>
<div class=" p-4 contactus rounded mt-5">
  <div class="container">
  
  <div class="row text-center">
    <div class="col-md-4 mb-5" *ngFor="let feature of features">
      <div class="feature-box">
        <i [class]="feature.icon" class="feature-icon"></i>
        <h4>{{ feature.title }}</h4>
        <p>{{ feature.description }}</p>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<!-- footer section -->
<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5>Contact Info</h5>
        <p>Bhosari, Pune</p>
        <p><a href="#">+91-9922992299</a></p>
        <p><a href="#">helpandsupport.com</a></p>
        <p>We reply within 1 work day</p>
        <p><strong>Working Hours:</strong><br>9:00 AM - 9:00 PM<br>Monday To Sunday</p>
      </div>
      <div class="col-md-4 mb-4">
        <h5>Our Services</h5>
        <ul class="list-unstyled">
          <li><a href="#">Sofa Deep Cleaning</a></li>
          <li><a href="#">Full Home Cleaning</a></li>
          <li><a href="#">Office Cleaning</a></li>
          <li><a href="#">Kitchen Deep Cleaning</a></li>
          <li><a href="#">Bathroom Deep Cleaning</a></li>
          <!-- Add more services as needed -->
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2024 Your Company. All rights reserved.</p>
    </div>
  </div>
</footer>



 

 

